body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to top, #3182ce, #90cdf4) no-repeat;
}

input[type=file]::file-selector-button {
  color: #3182ce;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #3182ce;
  background-color: #ffffff;
}

input[type="checkbox"]:checked {
  background-color: #3182ce;
  border: 2px solid #3182ce;
}

.equalizer {
  display: flex;
  flex-direction: row;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  writing-mode: bt-lr;
  /* rotate the slider vertically for other browsers */
  transform: rotate(-90deg);
  /* adjust the orientation of the slider */
  width: 100px;
  height: 20px;
  /* set the width and height of the slider */
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 2px solid #ffffff;
}

.slider:hover {
  opacity: 1;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #90cdf4;
  cursor: pointer;
  border: 2px solid #3182ce;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3182ce;
  cursor: pointer;
}

audio::-webkit-media-controls-panel {
  background-color: #3182ce;
  color: #212529;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-pause-button {
  color: #212529;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #212529;
  text-shadow: none;
}
