<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signal Equalizer</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- <script src="wavesurfer.min.js"></script> -->
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/wavesurfer.js"></script> -->
    <!-- <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/plotly-2.18.2.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script>document.addEventListener('DOMContentLoaded', function() {
        const sliders = document.querySelectorAll('.uniformmode.slider');
      
        sliders.forEach(slider => {
          const valueDisplay = document.createElement('span');
          valueDisplay.classList.add('slider-value');
          valueDisplay.textContent = slider.value;
          slider.parentElement.appendChild(valueDisplay);
      
          slider.addEventListener('input', function() {
            valueDisplay.textContent = this.value;
          });
        });
      });
      </script>

</head>
<body>
    <div class="d-flex ">
    <div class="flex-column p-3">
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="equalizer-mode">
            <select id="mode-select" class="form-select form-select">
                <option value="select-mode" selected disabled>Select Mode</option>
                <option value="uniform-range">Uniform Range Mode</option>
                <option value="vowels">Vowels Mode</option>
                <option value="musical-instruments">Musical Instruments Mode</option>
                <option value="biological-signal-abnormalities">Biological Signal Abnormalities
                </option>
            </select>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="spectrogram-toggle">
                    <label class="form-check-label" for="spectrogram-toggle">Show Spectrograms</label>
                </div>
            </div>
        </div>
        
        <br>
        <!-- <div class="row"> -->
            <div class="col-md-12"  >
                <p>Equalizer Sliders</p>
                <div  id="equalizer-container" style="display: none;">
                        <div>
                            <div class="slider-group" id="uniform-range-sliders">
                                <div class="form-group">
                                    <label for="slider1">20-2kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider"  id="slider1" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider2">2-4kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider2" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider3">4-6kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider3" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider4">6-8kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider4" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider5">8-10kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider5" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider6">10-12kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider6" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider7">12-14kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider7" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider8">14-16kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider8" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider9">16-18kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider9" min="-12" max="12" value="0">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="slider10">18-20kHz</label>
                                    <input type="range" class="form-control-range uniformmode slider" id="slider10" min="-12" max="12" value="0">
                                </div>
                            </div>
                            <div class="slider-group" id="vowels-sliders">
                                <div class="form-group">
                                    <label for="slider-S">Slider S</label>
                                    <input type="range" class="form-control-range vowels slider" id="slider-S" min="-6" max="6" value="0">
                                </div>
                                <div class="form-group">
                                    <label for="slider-B">Slider B</label>
                                    <input type="range" class="form-control-range vowels slider" id="slider-B" min="-6" max="6" value="0">
                                </div>
                                <div class="form-group">
                                    <label for="slider-Y">Slider Y</label>
                                    <input type="range" class="form-control-range vowels slider" id="slider-Y" min="-6" max="6" value="0">
                                </div>
                            </div>
                            <div class="slider-group" id="musical-instruments-sliders">
                                <div class="form-group">
                                    <label for="slider-Trumpet">Trumpet</label>
                                    <input type="range" class="form-control-range music slider" id="slider-Trumpet" min="-5" max="5" value="0">
                                </div>
                                <div class="form-group">
                                    <label for="slider-Xylophone">Xylophone</label>
                                    <input type="range" class="form-control-range music slider" id="slider-Xylophone" min="-5" max="5" value="0">
                                </div>
                                <div class="form-group">
                                    <label for="slider-Brass">Brass</label>
                                    <input type="range" class="form-control-range music slider" id="slider-Brass" min="-5" max="5" value="0">
                                </div>
                            </div>
                            <div class="slider-group" id="biological-signal-abnormalities-sliders">
                                <div class="form-group">
                                    <label for="slider-heartbeat">Slider Heartbeat</label>
                                    <input type="range" class="form-control-range slider" id="slider-heartbeat" min="0" max="100"
                                        value="50">
                                </div>
                                <div class="form-group">
                                    <label for="slider-brain-waves">Slider Brain Waves</label>
                                    <input type="range" class="form-control-range slider" id="slider-brain-waves" min="0" max="100"
                                        value="50">
                                </div>
                                <div class="form-group">
                                    <label for="slider-muscle-tension">Slider Muscle Tension</label>
                                    <input type="range" class="form-control-range slider" id="slider-muscle-tension" min="0" max="100"
                                        value="50">
                                </div>
                                <div class="form-group">
                                    <label for="slider-respiration">Slider Respiration</label>
                                    <input type="range" class="form-control-range slider" id="slider-respiration" min="0" max="100"
                                        value="50">
                                </div>
                                <div class="form-group">
                                    <label for="slider-blood-pressure">Slider Blood Pressure</label>
                                    <input type="range" class="form-control-range slider" id="slider-blood-pressure" min="0" max="100"
                                        value="50">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
    <div class="flex-column w-100 px-3">
    <!-- <header> -->
        <div class="bg-dark">
            <h3 class=" text-light p-3 ">Signal Equalizer</h3>
            
        </div>
    <!-- </header> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Input Signal Viewer</h5>
                        </div>
                        <div class="card-body mb-0">
                            <div id="inputwave" style="width:100%; height:250px;"></div>
                            <!-- <div class="inputcontrols">
                                <button class="playbutton btn btn-primary"><i class="fas fa-play"></i></button>
                                <button class="pausebutton btn btn-primary"><i class="fas fa-pause"></i></button>
                                <button class="stopbutton btn btn-primary"><i class="fas fa-stop"></i></button>
                                <input type="range" id="input-signal-speed" class="playbackRateSlider" min="0.25" max="2" step="0.25" value="1">
                            </div> -->
                            
                            <audio controls style="width: 90%;" accept="audio/*" id="inputaudio" src="" class="audiofile"></audio>
                            <button class="stopbutton btn btn-secondary" style="position: relative; top:-1.5rem ;"><i class="fas fa-stop"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Output Signal Viewer</h5>
                            </div>
                            <div class="card-body">
                                <div id="outputwave" style="width:100%; height:250px;"></div>
                                <!-- <div class="outputcontrols">
                                    <button class="playbutton btn btn-primary"><i class="fas fa-play"></i></button>
                                    <button class="pausebutton btn btn-primary"><i class="fas fa-pause"></i></button>
                                    <button class="stopbutton btn btn-primary"><i class="fas fa-stop"></i></button>
                                    <input type="range" id="input-signal-speed" class="playbackRateSlider" min="0.25" max="2" step="0.25" value="1">
                                </div> -->
                            <audio controls id="outputaudio" accept="audio/*" style="width: 90%;" src="" class="audiofile"></audio>
                            <button class="stopbutton btn btn-secondary" style="position: relative; top:-1.5rem ;"><i class="fas fa-stop"></i></button>
                                </div>
                            </div>
                        </div>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3 spectrogram" style="display: none;">
                        <div class="card-header">
                            <h5>Input Spectrogram</h5>
                        </div>
                        <div class="card-body" >
                            <img id="inputspectrogram" class="spectrogram" width="100%">
                            <!-- <canvas id="input-spectrogram-canvas"></canvas> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 spectrogram" style="display: none;">
                        <div class="card-header">
                            <h5>Output Spectrogram</h5>
                        </div>
                        <div class="card-body" >
                            <img id="outputspectrogram" class="spectrogram" width="100%">
                            <!-- <canvas id="output-spectrogram-canvas"></canvas> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>