<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signal Equalizer</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/plotly-2.18.2.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="d-flex ">
    <div class="flex-column w-100 ">
        <div class="bg-dark">
            <h3 class=" text-light p-3">Signal Equalizer</h3>
        </div>
            <div class="d-flex justify-content-around">
                <div class="mb-3 w-25 ">
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="equalizer-mode w-25 ">
                    <select id="mode-select" class="form-select form-select">
                        <option value="select-mode" selected disabled>Select Mode</option>
                        <option value="uniform-range">Uniform Range Mode</option>
                        <option value="vowels">Vowels Mode</option>
                        <option value="musical-instruments">Musical Instruments Mode</option>
                        <option value="biological-signal-abnormalities">Biological Signal Abnormalities
                        </option>
                    </select>
                </div>
                <br>
                <div class="row">
                </div>
                <!-- <div class="col-md-12"> -->
                    <div class="form-check h5 mt-2">
                        <input type="checkbox" class="form-check-input " id="spectrogram-toggle">
                        Show Spectrograms
                    </div>
                <!-- </div> -->
            </div>
        <div class="d-flex flex-column w-100" >
        <div>
            <div class="row" id="audio" style="display: flex;">
                <div class="col-md-6" >
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Input Signal Viewer</h5>
                        </div>
                        <div class="card-body mb-0">
                            <div id="inputwave" style="width:100%; height:250px;"></div>
                            <audio controls style="width: 90%;" accept="audio/*" id="inputaudio" src="" class="audiofile"></audio>
                            <button class="stopbutton btn btn-secondary" style="position: relative; top:-1.5rem ;"><i class="fas fa-stop"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="mb-0">Output Signal Viewer</h5>
                            </div>
                            <div class="card-body">
                                <div id="outputwave" style="width:100%; height:250px;"></div>
                            <audio controls id="outputaudio" accept="audio/*" style="width: 90%;" src="" class="audiofile"></audio>
                            <button class="stopbutton btn btn-secondary" style="position: relative; top:-1.5rem ;"><i class="fas fa-stop"></i></button>
                                </div>
                            </div>
                        </div>
                </div>
            <div class="row" id="spectrogram" style="display: none;">
                <div class="col-md-6">
                    <div class="card mb-3 spectrogram" >
                        <div class="card-header">
                            <h5>Input Spectrogram</h5>
                        </div>
                        <div class="card-body" >
                            <img id="inputspectrogram" class="spectrogram" width="100%" height="311px">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3 spectrogram" >
                        <div class="card-header">
                            <h5>Output Spectrogram</h5>
                        </div>
                        <div class="card-body" >
                            <img id="outputspectrogram" class="spectrogram" width="100%" height="311px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
         <div>
            <div id="equalizer-container" style="display: none; overflow-x: hidden;">
                    <div class="slider-group" id="uniform-range-sliders">
                        <div class="slider-container">
                            <label for="slider1 " class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider1" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider2" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider2" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider3" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider3" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider4" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider4" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider5" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider5" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider6" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider6" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider7" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider7" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider8" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider8" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider9" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider9" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <br>
                        <div class="slider-container">
                            <label for="slider10" class="uniformrangelabel"></label>
                            <input type="range" class="form-control-range uniformmode slider" id="slider10" min="-12" max="12"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                    </div>
                    <div class="slider-group" id="vowels-sliders">
                        <div class="slider-container">
                            <label for="slider-S">Slider S</label>
                            <input type="range" class="form-control-range vowels slider" id="slider-S" min="-6" max="6"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <div class="slider-container">
                            <label for="slider-B">Slider B</label>
                            <input type="range" class="form-control-range vowels slider" id="slider-B" min="-6" max="6"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <div class="slider-container">
                            <label for="slider-Y">Slider Y</label>
                            <input type="range" class="form-control-range vowels slider" id="slider-Y" min="-6" max="6"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                    </div>
                    <div class="slider-group" id="musical-instruments-sliders">
                        <div class="slider-container">
                            <label for="slider-Trumpet">Trumpet</label>
                            <input type="range" class="form-control-range music slider" id="slider-Trumpet" min="-5" max="5"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <div class="slider-container">
                            <label for="slider-Xylophone">Xylophone</label>
                            <input type="range" class="form-control-range music slider" id="slider-Xylophone" min="-5" max="5"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                        <div class="slider-container">
                            
                            <label for="slider-Brass">Brass</label>
                            <input type="range" class="form-control-range music slider" id="slider-Brass" min="-5" max="5"
                                value="0">
                            <span class="slider-value">0</span>
                        </div>
                    </div>
                    <div class="slider-group" id="biological-signal-abnormalities-sliders">
                        <div class="slider-container">
                            <label for="slider-heartbeat">Arrythmia</label>
                            <input type="range" class="form-control-range arrythmia slider" id="slider-heartbeat" min="-50"
                                max="50" value="0">
                            <span class="slider-value">0</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>